<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="nav">
        <h1>Bloom</h1>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Contact Us</a>
        <a href="">Services</a>
        <a href="">Portfolio</a>
    </div>

    <div class="content">
        <div class="textbox">
            <h2>Lorem ipsum dolor sit amet</h2>
            <P class="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, reprehenderit harum maiores officiis voluptatibus maxime culpa totam? Asperiores, ut nisi contsectetur as adipisicing.</P>
            <P class="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis tempora quod nihil suscipit odio, dolores quae Consect!</P>
            <button>Learn More</button>
        </div>
        <div class="imagebox"></div>
    </div>

    <div class="box-container">
        <div class="box">
            <div class="image"></div>
            <h3>Lorem ipsum dolor</h3>
            <p class="para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudant Quis tempora quod nihil suscipit odio, dolores quae Consect</p>
            <button class="btn">Learn More</button>
        </div>

        <div class="box">
            <div class="image"></div>
            <h3>Lorem ipsum dolor</h3>
            <p class="para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudant Quis tempora quod nihil suscipit odio, dolores quae Consect</p>
            <button class="btn">Learn More</button>
        </div>

        <div class="box">
            <div class="image"></div>
            <h3>Lorem ipsum dolor</h3>
            <p class="para2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudant Quis tempora quod nihil suscipit odio, dolores quae Consect</p>
            <button class="btn">Learn More</button>
        </div>
       
    </div>

    <div class="footer">
        <div class="coloumn1">
            <h4>Latest Posts</h4>
            <div class="date">
            <div class="date-box">
                <span>july</span>
                <strong>27</strong>
            </div>
            
        </div>
        </div>
        <div class="coloumn2">
            <h4>About</h4>
            <p class="para3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos fugiat obcaecati voluptatibus nostrum. Accusamus, eos. Tenetur sit delectus sapiente earum, at provident, eum numquam unde cupiditate qui cumque facilis natus.</p>
            <p class="para3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, laudantium distinctio! Sit nostrum ex modi cum, culpa aliquam laborum, quod repellat at</p>
        </div>
        <div class="coloumn3">
            <h4>Stay Connected</h4>
        <div id="social-link">
            <img src="./image/icons/facebook (1).png" alt="image is not found!">
            <a target="_blank" href="https://www.facebook.com/">Facebook</a>
        </div>
        <div id="social-link">
            <img src="./image/icons/social.png" alt="image is not found!">
            <a target="_blank" href="https://www.twitter.com/">Twitter</a>
        </div>

        <div id="social-link">
            <img src="./image/icons/rss (1).png" alt="image is not found!">
            <a target="_blank" href="https://www.rss.com/">RSS</a>
        </div>

        <div id="social-link">
            <img src="./image/icons/google-plus.png" alt="image is not found!">
            <a target="_blank" href="https://www.google+.com/">Google+</a>
        </div>
        </div>
    </div>

    <div class="foot">
        <p class="para4">Copyright {c} 2013. All rights reserved Bloom Web Design</p></div>
</body>
</html>