
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-weight: bold;
}
.bolt{
    margin: 10px;
}
h2{
    margin-right: 240px;
}
a{
    text-decoration: none;
    color: black;
    margin: 30px;
    margin-right: 100px;
}
button{
    height: 40px;
    width: 10%;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
}
button:hover{
    background-color: orange;
    color: black;
    transition: 1s;
    cursor: pointer;
}

.content{
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.text{
    height: 300px;
    width: 45%;
    /* border: 2px solid red; */
}
.text p{
     line-height: 32px;
}
.btn{
    height: 40px;
    width: 40%;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
}
.image{
    height: 300px;
    width: 35%;
    /* border: 2px solid green; */
}
img{
    height: 300px;
    width: 100%;
}

.box{
    height: 250px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.text-box{
    height: 180px;
    width: 25%;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10px;
}
span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.para1{
    margin-left: 20px;
    align-items: center;
}

.heading{
    height: 20px;
    width: 100%;
    text-align: center;
}

.card-box{
    height:700px;
    width: 100;
}
.group1{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.group2{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card{
    height: 250px;
    width: 25%;
    border: 2px solid gray;
    margin-top: 50px;
    border-radius: 5px;
    padding:10px
}

.contact{
    height: 250px;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div1{
    height: 70px;
    width: 40%;
    /* border: 2px solid white; */
}
h2{
    line-height: 30px;
}
.div2{
    height: 70px;
    width: 30%;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn{
    height: 50px;
    width: 50%;
    color: gray;
}

.footer{
    height: 250px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}
#text{
    height: 250px;
    width: 30%;
    /* border: 2px solid white; */
}
#menu{
    height: 250px;
    width: 15%;
    /* border: 2px solid green; */
}
#media{
    height: 250px;
    width: 15%;
    /* border: 2px solid green; */
}
.reverse{
    direction: rtl;
    color: gray;
    cursor: pointer;
}

.foot{
    height: 40px;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.pa{
    height: 20px;
    width: 30%;
    color: gray;
}
.icons{
    height: 20px;
    width: 20%;
}


@media only screen and (max-width: 768px){
    .nav{
        display: flex;

        justify-content: center;
        align-items: center;
        height: auto;
    }
}



